<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GLSL Sandbox Gallery</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<link rel="stylesheet" href="<%= base_url %>css/default.css">
		<link rel="stylesheet" href="<%= base_url %>css/login-register.css">
	</head>
	<body>

	<div id="login-wrapper">
		<h1>GLSL Login</h1>
		<form action="<%= base_url %>login" method="POST">
			<label for="handle" class="separate">Handle:</label>
			<input type="text" name="username" id="username" class="separate" />
			<label for="password"class="separate" >Password:</label>
			<input type="password" name="password" id="password" class="separate" />
			<button type="submit" class="separate">Login</button>
		</form>
		<div id="links-and-controls">
			<a href="<%= base_url %>">Back to gallery</a>
			<a href="<%= base_url %>">Forgot password</a>
		</div>
		
	</div>
	</body>
</html>
