<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GLSL Sandbox Gallery</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<link rel="stylesheet" href="<%= base_url %>css/default.css">
		<link rel="stylesheet" href="<%= base_url %>css/login-register.css">
		<link rel="stylesheet" href="<%= base_url %>css/auto-complete.css">
		<script type="text/javascript" src="<%= base_url %>js/jquery.js"></script>
		<script type="text/javascript" src="<%= base_url %>js/auto-complete.min.js"></script>
	</head>
	<body>

	<div id="login-wrapper">
		<h1>GLSL Register</h1>
		<form action="<%= base_url %>login" method="POST">
			<label for="handle" class="separate">E-mail:</label>
			<input type="text" name="email" id="email" class="separate" />
			<label for="handle" class="separate">Handle:</label>
			<input type="text" name="username" id="username" class="separate" />
			<label for="password" class="separate" >Password:</label>
			<input type="password" name="password" id="password" class="separate" />
			<label for="retype-password" class="separate">Retype password:</label>
			<input type="password" name="retype-password" id="retype-password" class="separate" />
			<label for="group" class="separate">Group:</label>
			<input type="text" name="group" id="group" class="separate">
			<button type="submit" class="separate">Register</button>
		</form>
		<div id="links-and-controls">
			<a href="<%= base_url %>">Back to gallery</a>
		</div>
		
	</div>
	<script type="text/javascript">
		var ac = new autoComplete({
			selector: "input[name='group']",
			minChars: 2,
			source: function(term, suggest) {
				$.getJSON("<%= base_url %>register/groups", {term: term}, function(data) {
					suggest(data);
				});
			}
		});
	</script>
	</body>
</html>
